.no-padding-left{
    padding-left: 0px;
}

.event-box{
    display: block;
    width: 100%;
    height: 95%;
    background: transparent;
    border: 1px solid black;
    box-shadow: 2px 2px 12px black;
    margin-top: 15px;
}

.event-box > button:focus{
    outline: none;
}

.event-title{
    color: white;
    display: block;
    width: 100%;
    background: #45166a;
    padding: 10px;
    text-align: left;
}

.event-info{
    color:black;
    margin-left: 15px;
    padding: 10px 10px 10px 0;
    display: block;
}

.register-button{
    display: block;
    width: 100px;
    height: 40px;
    background-color: #46166b;
    color: white;
    padding:3px 10px 5px 10px;
    border: 1px solid black;
    border-radius: 2%;
    margin-bottom: 15px;
    font-weight: bold;
    border-radius: 5px;
}

.register-button > a{
    background-color: #46166b;
    color: white;
}

.register-button:hover{
    background-color:#edba32;
}

.register-button:hover > a{
    background-color:#edba32;
    color: black;
    text-shadow:none;
    text-decoration: none;
}

.title_text{
    width: 80%;
    float: left;
}

.title_icon{
    width: 20%;
    height: auto;
    float: right;
}
