/*------------------------------------------------------------------
[Master Stylesheet]

Primary use:    index.css file used for styling home page
-------------------------------------------------------------------*/
.home-logo{
    height:100px;
    transition: all .15s ease-in-out;
}

.home-logo-container{
    margin: 10px 20px 0px 20px;
    width: 300px;
    text-align: center;
}

.home-logo-container:hover{
    cursor: pointer;
}

.home-logo-container:hover > .home-logo{
    transform: scale(1.1);
}

.home-logo-container:hover > p{
    text-decoration: underline;
}

.home-logo-container > p{
    color: #46166C;
    font-weight: bold;
}

.main-content {
    color: #444;
    font-size: 22px;
    font-family: 'PublicSans', sans-serif!important;;
    line-height: 26px;
    padding-bottom: 30px;
}

.logos-content{
    padding-left: 50px;
    
}