.tabs-container{
    margin-left: 50px;
}

.dot-list{
    padding: 0 0 0 20px;
    margin-left: 0;
    list-style-position: outside;
}

.dot-list>li{
    white-space:normal;
}

.nav-tabs .nav-link{
    background-color: #46166C;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    margin-right: 5px;
}

.nav-tabs .nav-link.active{
    background-color: #edba32;
    color:black;
    border: 1px solid black;
    border-bottom: none;
    text-shadow:none;

}

.nav-tabs .nav-link:hover{
    background-color:#edba32;
    color: black;
    text-shadow:none;
}

.tab-pane{
    padding: 10px;
}

.nav-tabs .nav-item{
    width: 255px;
}

.link{
    color: #007bff;
    text-decoration: underline;
}

.image-container{
    float: left;
    margin-bottom: 10px;
}

#ualbany-only-logo{
    width: 125px;
}

#suny-logo{
    width: 150px;
}